body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  height: 100%;
  margin: 0;
  width: 100%;
}

.poster {
  background-color: whitesmoke;
  border: 1px solid black;
}

img {
  max-width: 200px;
}