body {
    background-color: rgb(15, 23, 30);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    height: 100%;
    margin: 0;
    width: 100%;
 }
  
  .poster {
    background-color: whitesmoke;
    border: 1px solid black;
  }
  
  img {
    max-width: 200px;
  }

  .title {
      font-size: 50px;
      text-align: center;
  }

  .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 1000px;
      margin: 20px;
      padding: 20px;
  }

  .inside-container {
      margin: 10px;
  }
